<div class="container-fluid">
    <h1 class="align-center company-name" ng-if="context.erpAppConfig.companyName">{{context.erpAppConfig.companyName}}</h1>
    <alert-rol></alert-rol>
    <div class="mb-3">
        <h3>{{context.controller.title}}</h3>
        <ul class="navbar-nav" ng-if="context.authFact.isLogged() && context.erpLoaded">
            <li ng-if="context.commonFact.isShowMenu(module)" class="nav-item dropdown" ng-repeat="(key, module) in context.erpAppConfig.modules.controllers">
                <a ng-if="module.page" class="nav-link" href="#!{{module.page.link}}">
                    <i class="fa fa-fw fa-{{module.icon}}"></i>
                    <span class="nav-link-text">{{module.title}}</span>
                </a>
                <a ng-if="!module.page" class="nav-link">
                    <i class="fa fa-fw fa-{{module.icon}}"></i>
                    <span class="nav-link-text">{{module.title}}</span>
                </a>
                <ul>
                    <li ng-if="context.commonFact.isShowMenu(subModule)" ng-repeat="subModule in context.commonFact.showSubModule(module)">
                        <a href="#!{{subModule.page.link}}">{{subModule.title}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>