<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">{{context.title}}</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="mb-3">
        <h3>{{context.title}}</h3>
        <div ng-if="context.page.name=='add' || context.page.name=='edit'">
            <entry-invoice></entry-invoice>
        </div>
        <div ng-if="context.page.name=='list'">
            <list-view></list-view>
        </div>
    </div>
</div>