<div>
    <form>
        <div class="form-group row" ng-switch="fieldValue.type" ng-repeat="fieldValue in formFields">
            <label ng-switch-when="text" for="{{fieldValue.id}}" class="col-2 col-form-label">{{fieldValue.name}}</label>
            <div ng-switch-when="text" class="col-10">
                <input type="text" id="{{fieldValue.id}}" class="form-control" ng-model="formData[fieldValue.id]" />
            </div>

            <label ng-switch-when="select" for="{{fieldValue.id}}" class="col-2 col-form-label">{{fieldValue.name}}</label>
            <div ng-switch-when="select" class="col-10">
                <select class="form-control" ng-model="formData[fieldValue.id]" id="{{fieldValue.id}}">
                    <option value="">---Select---</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div ng-switch-when="button" class="col-2">
            </div>
            <div ng-switch-when="button" class="col-10">
                <button type="button" class="btn btn-primary" id="{{fieldValue.id}}">{{fieldValue.name}}</button>
            </div>
        </div>
    </form>
</div>