<div>
    <div ng-if="context.controller.alertMessage!==undefined" class="alert alert-danger" role="alert">
        {{context.controller.alertMessage}}
    </div>
    <form id="{{context.controller.form.id}}" name="customForm" autocomplete="off">
        <div class="form-group row" ng-switch="field.type" ng-repeat="field in context.controller.form.fields" ng-if="!context.controller.page.printView && !field.afterMapping">
            <label for="{{field.id}}" class="col-2 col-form-label"><b>{{field.name}}:</b></label>
            <div ng-switch-when="span" class="col-10">
                <span id="{{field.id}}">{{field.valuePrefix}}{{context.controller.data[field.id]}}</span>
            </div>
            <div ng-switch-when="input" class="col-6">
                <input type="{{field.inputType}}" id="{{field.id}}" name="{{context.controller.form.id}}-{{field.id}}" class="form-control" ng-model="context.controller.data[field.id]" ng-required="{{field.required}}" ng-change="context.commonFact.callActions(field.action, [context.controller.data, context.controller.data[field.id], field])"
                    max="{{field.max}}" ng-disabled="field.isDisable || (field.isEditDisable && context.controller.data[context.controller.form.disableByField])" />
            </div>
            <div ng-switch-when="select" class="col-6">
                <select id="{{field.id}}" class="form-control" ng-model="context.controller.data[field.id]" ng-required="{{field.required}}" ng-change="context.commonFact.callActions(field.action,[context.controller.data, context.controller.data[field.id], field])" ng-options="option.optionId as option.optionName for option in field.options"
                    ng-disabled="field.isDisable || (field.isEditDisable && context.controller.data[context.controller.form.disableByField])">
                    <option value="">--Select--</option>
                </select>
            </div>
            <div ng-switch-when="multiSelect" class="col-6">
                <select id="{{field.id}}" class="form-control" ng-model="context.controller.data[field.id]" ng-required="{{field.required}}" ng-change="context.commonFact.callActions(field.action,[context.controller.data, context.controller.data[field.id], field])" ng-options="option.optionId as option.optionName for option in field.options"
                    ng-disabled="field.isDisable || (field.isEditDisable && context.controller.data[context.controller.form.disableByField])" multiple>
                    <option value="">--Select--</option>
                </select>
            </div>
            <div class="col-2">
                <span style="color:red" ng-show="customForm[field.id].$invalid">*Invalid input!</span>
            </div>
        </div>
        <div class="form-group row" ng-repeat="field in context.controller.form.fields" ng-if="context.controller.page.printView && !field.afterMapping">
            <label for="{{field.id}}" class="col-2 col-form-label"><b>{{field.name}}:</b></label>
            <div class="col-10">
                <span id="{{field.id}}" ng-bind="context.commonFact.replaceFieldVal(context.controller.printData[field.id], field)"></span>
            </div>
        </div>
        <div class="form-group row" ng-if="context.controller.form.mapping">
            <div class="col-12">
                <mapping-form></mapping-form>
            </div>
        </div>
        <div class="form-group row" ng-switch="field.type" ng-repeat="field in context.controller.form.fields" ng-if="!context.controller.page.printView && field.afterMapping">
            <label ng-switch-when="span" for="{{field.id}}" class="col-2 col-form-label"><b>{{field.name}}:</b></label>
            <div ng-switch-when="span" class="col-10">
                <span id="{{field.id}}">{{field.valuePrefix}}{{context.controller.data[field.id]}}</span>
            </div>
            <label ng-switch-when="input" for="{{field.id}}" class="col-2 col-form-label"><b>{{field.name}}:</b></label>
            <div ng-switch-when="input" class="col-6">
                <input type="{{field.inputType}}" id="{{field.id}}" name="{{field.id}}" class="form-control" ng-model="context.controller.data[field.id]" ng-required="{{field.required}}" ng-change="context.commonFact.callActions(field.action, [context.controller.data, context.controller.data[field.id], field])"
                    max="{{field.max}}" ng-disabled="field.isDisable || (field.isEditDisable && context.controller.data[context.controller.form.disableByField])" />
            </div>
            <label ng-switch-when="select" for="{{field.id}}" class="col-2 col-form-label"><b>{{field.name}}:</b></label>
            <div ng-switch-when="select" class="col-6">
                <select id="{{field.id}}" class="form-control" ng-model="context.controller.data[field.id]" ng-required="{{field.required}}" ng-change="context.commonFact.callActions(field.action, [context.controller.data, context.controller.data[field.id], field])"
                    ng-options="option.optionId as option.optionName for option in field.options" ng-disabled="field.isDisable || (field.isEditDisable && context.controller.data[context.controller.form.disableByField])">
                    <option value="">--Select--</option>
                </select>
            </div>
            <div class="col-2">
                <span style="color:red" ng-show="customForm[field.id].$invalid">*Invalid input!</span>
            </div>
        </div>
        <div class="form-group row" ng-repeat="field in context.controller.form.fields" ng-if="context.controller.page.printView && field.afterMapping">
            <label for="{{field.id}}" class="col-2 col-form-label"><b>{{field.name}}:</b></label>
            <div class="col-10">
                <span id="{{field.id}}" ng-bind="context.commonFact.replaceFieldVal(context.controller.printData[field.id], field)"></span>
            </div>
        </div>
        <div class="form-group row" ng-if="!context.controller.page.printView">
            <div class="col-2">
            </div>
            <div class="col-10">
                <button ng-if="context.controller.form.actions.submit === undefined || context.controller.form.actions.submit" type="button" class="btn btn-primary" id="submit" ng-click="context.controller.form.actions.customSubmit ? context.commonFact.callActions(context.controller.form.actions.customSubmit) : context.commonFact.submit()"
                    ng-disabled="customForm.$invalid">Submit</button>
                <button ng-if="context.controller.form.actions.cancel === undefined || context.controller.form.actions.cancel" type="button" class="btn btn-primary" id="cancel" ng-click="context.commonFact.cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>