<div>
    <form id="{{context.controller.form.id}}" name="entryInvoice">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><b>{{context.controller.form.fields.invoiceNo.name}}</b></td>
                    <td colspan="2">
                        <span id="{{context.controller.form.fields.invoiceNo.id}}"><b>{{context.controller.form.fields.invoiceNo.valuePrefix}}{{context.controller.data[context.controller.form.fields.invoiceNo.id]}}</b></span>
                    </td>
                    <td align="right"><b>{{context.controller.form.fields.date.name}}</b></td>
                    <td colspan="2">
                        <input ng-if="!context.controller.page.printView" type="date" id="{{context.controller.form.fields.date.id}}" class="form-control" ng-model="context.controller.data[context.controller.form.fields.date.id]" ng-required="{{context.controller.form.fields.date.required}}"
                        />
                        <span ng-if="context.controller.page.printView" id="{{context.controller.form.fields.date.id}}" ng-bind="context.commonFact.replaceFieldVal(context.controller.data[context.controller.form.fields.date.id], context.controller.form.fields.date)">{{context.controller.data[context.controller.form.fields.date.id]}}</span>
                    </td>
                </tr>
                <tr>
                    <td><b>{{context.controller.form.fields.customerCode.name}}</b></td>
                    <td colspan="6">
                        <select ng-if="!context.controller.page.printView" id="{{context.controller.form.fields.customerCode.id}}" class="form-control" ng-model="context.controller.data[context.controller.form.fields.customerCode.id]" ng-required="{{context.controller.form.fields.customerCode.required}}"
                            ng-change="context.controller.form.fields.customerCode.action && context.commonFact.callActions(context.controller.form.fields.customerCode.action, [context.controller.data, context.controller.data[context.controller.form.fields.customerCode.id], context.controller.form.fields.customerCode])"
                            ng-options="option.optionId as option.optionName for option in context.controller.form.fields.customerCode.options" ng-disabled="context.controller.form.fields.customerCode.isDisable || (context.controller.form.fields.customerCode.isEditDisable && context.controller.data[context.controller.form.disableByField])"
                            ng-required="{{context.controller.form.fields.customerCode.required}}">
                            <option value="">--Select--</option>
                        </select>
                        <span ng-if="context.controller.page.printView" id="{{context.controller.form.fields.customerCode.id}}" ng-bind="context.commonFact.replaceFieldVal(context.controller.data[context.controller.form.fields.customerCode.id], context.controller.form.fields.customerCode)"></span>

                        <span id="{{context.controller.form.fields.address.id}}">, {{context.controller.data[context.controller.form.fields.address.id]}}</span>

                    </td>
                </tr>
                <tr ng-if="!context.controller.cashBill">
                    <td><b>{{context.controller.form.fields.partyGstin.name}}</b></td>
                    <td colspan="2">
                        <input ng-if="!context.controller.page.printView" type="text" id="{{context.controller.form.fields.partyGstin.id}}" class="form-control" ng-model="context.controller.data[context.controller.form.fields.partyGstin.id]" ng-required="{{context.controller.form.fields.required}}"
                        />
                        <span ng-if="context.controller.page.printView" id="{{context.controller.form.fields.partyGstin.id}}">{{context.controller.form.fields.partyGstin.valuePrefix}}{{context.controller.data[context.controller.form.fields.partyGstin.id]}}</span>
                    </td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td ng-repeat="mappingFieldKey in context.controller.form.mapping.fields"><b>{{mappingFieldKey.name}}</b></td>
                    <td ng-if="!context.controller.page.printView">
                    </td>
                </tr>
                <tr ng-repeat="(key, map) in context.controller.data.mapping" ng-if="!context.controller.page.printView">
                    <td ng-switch="field.type" ng-repeat="field in context.controller.form.mapping.fields">
                        <span ng-switch-when="span" id="{{field.id}}-{{key}}" ng-bind="map[field.id]"></span>
                        <input ng-switch-when="input" type="{{field.inputType}}" id="{{field.id}}-{{key}}" class="form-control" ng-model="map[field.id]" ng-change="field.action && context.commonFact.callActions(field.action, [map, map[field.id], field, key])" ng-required="{{field.required}}"
                        />
                        <select class="form-control" ng-switch-when="select" id="{{field.id}}-{{key}}" ng-change="field.action && context.commonFact.callActions(field.action, [map, map[field.id], field, key])" ng-model="map[field.id]" ng-options="option.optionId as option.optionName for option in field.options"
                            ng-required="{{field.required}}" ng-disabled="field.isDisable">
                            <option value="">--Select--</option>
                        </select>
                    </td>
                    <td>
                        <a ng-if="context.controller.form.mapping.actions.delete || context.controller.form.mapping.actions.delete===undefined" class="fa fa-fw fa-times" href="javascript: void(0);" ng-click="context.commonFact.removeMapping(context.controller.data.mapping, key)">
                        </a>
                    </td>
                </tr>
                <tr ng-repeat="(key, map) in context.controller.data.mapping" ng-if="context.controller.page.printView">
                    <td ng-repeat="field in context.controller.form.mapping.fields">
                        <span id="{{field.id}}-{{key}}" ng-bind="context.commonFact.replaceFieldVal(map[field.id], field)"></span>
                    </td>
                </tr>

                <tr>
                    <td colspan="4" align="right"><b>Sub Total:</b></td>
                    <td colspan="2"><span id="{{context.controller.form.fields.subTotal.id}}" ng-bind="context.controller.data[context.controller.form.fields.subTotal.id]"></span></td>
                </tr>
                <tr ng-if="context.controller.cashBill">
                    <td colspan="4" align="right"><b>Previous Balance:</b></td>
                    <td colspan="2"><input ng-if="!context.controller.page.printView" type="text" id="{{context.controller.form.fields.preBalance.id}}" class="form-control" ng-model="context.controller.data[context.controller.form.fields.preBalance.id]" ng-change="context.controller.form.fields.preBalance.action && context.commonFact.callActions(context.controller.form.fields.preBalance.action, [map, map[context.controller.form.fields.preBalance.id], field])"
                        />
                        <span ng-if="context.controller.page.printView" id="{{context.controller.form.fields.preBalance.id}}">{{context.controller.data[context.controller.form.fields.preBalance.id]}}</span></td>
                </tr>
                <tr ng-if="!context.controller.cashBill">
                    <td rowspan="3" align="right"><b>{{context.controller.form.fields.taxRate.name}}</b></td>
                    <td rowspan="3"><span id="{{context.controller.form.fields.taxRate.id}}" ng-bind="context.controller.data[context.controller.form.fields.taxRate.id]"></span>%</td>
                    <td align="right"><b>{{context.controller.form.fields.cgst.name}}</b></td>
                    <td><span id="{{context.controller.form.fields.cgst.id}}" ng-bind="context.controller.data[context.controller.form.fields.cgst.id]"></span>%</td>
                    <td colspan="2"><span id="{{context.controller.form.fields.cgstTotal.id}}" ng-bind="context.controller.data[context.controller.form.fields.cgstTotal.id]"></span></td>
                </tr>
                <tr ng-if="!context.controller.cashBill">
                    <td align="right"><b>{{context.controller.form.fields.sgst.name}}</b></td>
                    <td><span id="{{context.controller.form.fields.sgst.id}}" ng-bind="context.controller.data[context.controller.form.fields.sgst.id]"></span>%</td>
                    <td colspan="2"><span id="{{context.controller.form.fields.sgstTotal.id}}" ng-bind="context.controller.data[context.controller.form.fields.sgstTotal.id]"></span></td>
                </tr>
                <tr ng-if="!context.controller.cashBill">
                    <td align="right"><b>{{context.controller.form.fields.igst.name}}</b></td>
                    <td><span id="{{context.controller.form.fields.igst.id}}" ng-bind="context.controller.data[context.controller.form.fields.igst.id]"></span>%</td>
                    <td colspan="2"><span id="{{context.controller.form.fields.igstTotal.id}}" ng-bind="context.controller.data[context.controller.form.fields.igstTotal.id]"></span></td>
                </tr>
                <tr>
                    <td colspan="4" align="right"><b>{{context.controller.form.fields.total.name}}:</b></td>
                    <td colspan="2"><b><span id="{{context.controller.form.fields.total.id}}" ng-bind="context.controller.data[context.controller.form.fields.total.id]"></span></b></td>
                </tr>
            </tbody>
        </table>
        <div class="form-group row" ng-if="!context.controller.page.printView">
            <div class="col-2">
            </div>
            <div class="col-10">
                <button type="button" class="btn btn-primary" id="submit" ng-click="context.commonFact.submit()" ng-disabled="entryInvoice.$invalid">Submit</button>
                <button type="button" class="btn btn-primary" id="cancel" ng-click="context.commonFact.cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>