<div>
    <div class="card">
        <div class="card-header">
            <center>{{context.invoiceForm.name}}</center>
        </div>
        <div class="card-body">
            <form id="{{context.invoiceForm.id}}">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td colspan="2"><b>{{context.invoiceForm.fields.invoiceNo.name}}</b></td>
                            <td colspan="2">
                                <input type="text" id="{{context.invoiceForm.fields.invoiceNo.id}}" class="form-control" ng-model="context.data[context.invoiceForm.fields.invoiceNo.id]" />
                            </td>
                            <td colspan="2"></td>
                            <td><b>{{context.invoiceForm.fields.date.name}}</b></td>
                            <td>
                                <input type="text" id="{{context.invoiceForm.fields.date.id}}" class="form-control" ng-model="context.data[context.invoiceForm.fields.date.id]" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>{{context.invoiceForm.fields.customerCode.name}}</b></td>
                            <td colspan="6">
                                <select id="{{context.invoiceForm.fields.customerCode.id}}" ng-model="context.data[context.invoiceForm.fields.customerCode.id]">
                                    <option value="">---Select---</option>
                                    <option ng-repeat="option in context.invoiceForm.fields.customerCode.options" value="{{context.invoiceForm.fields.customerCode.id}}" ng-selected="option.id==context.data[context.invoiceForm.fields.customerCode.id]">{{option.name}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>{{context.invoiceForm.fields.partyGstin.name}}</b></td>
                            <td>
                                <input type="text" id="{{context.invoiceForm.fields.partyGstin.id}}" class="form-control" ng-model="context.data[context.invoiceForm.fields.partyGstin.id]" />
                            </td>
                            <td colspan="2"><b>{{context.invoiceForm.fields.partyArnNo.name}}</b></td>
                            <td>
                                <input type="text" id="{{context.invoiceForm.fields.partyArnNo.id}}" class="form-control" ng-model="context.data[context.invoiceForm.fields.partyArnNo.id]" />
                            </td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td><a class="fa fa-fw fa-plus-square-o" href="javascript: void(0);" ng-click="actions.addMapping(context)"> </a></td>
                            <td ng-repeat="mappingFieldKey in context.mappingForm.fields"><b>{{mappingFieldKey.name}}</b></td>
                        </tr>
                        <tr ng-repeat="(key, mapping) in context.data.mapping">
                            <td ng-switch="field.type" ng-repeat="field in context.mappingForm.fields">
                                <span ng-switch-when="span" id="{{field.id}}-{{key}}" ng-bind="mapping[field.id]"></span>
                                <select ng-switch-when="select" id="{{field.id}}-{{key}}" ng-change="actions.changeMapping(context, mapping)" ng-model="mapping[field.id]">
                                    <option value="">---Select---</option>
                                    <option ng-repeat="option in field.options" value="{{option.id}}" ng-selected="option.id==mapping[field.id]">{{option.name}}</option>
                                </select>
                            </td>
                            <td><a class="fa fa-fw fa-times" href="javascript: void(0);" ng-click="actions.removeMapping(context, key)"> </a></td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td colspan="2">Sub Total:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3" rowspan="2"></td>
                            <td rowspan="2"><b>{{context.invoiceForm.fields.taxRate.name}}</b></td>
                            <td rowspan="2"><span id="{{context.invoiceForm.fields.taxRate.id}}" ng-bind="context.data[context.invoiceForm.fields.taxRate.id]"></span></td>
                            <td><b>{{context.invoiceForm.fields.cgst.name}}</b></td>
                            <td><span id="{{context.invoiceForm.fields.cgst.id}}" ng-bind="context.data[context.invoiceForm.fields.cgst.id]"></span></td>
                            <td><span id="{{context.invoiceForm.fields.cgstTotal.id}}" ng-bind="context.data[context.invoiceForm.fields.cgstTotal.id]"></span></td>
                        </tr>
                        <tr>
                            <td><b>{{context.invoiceForm.fields.sgst.name}}</b></td>
                            <td><span id="{{context.invoiceForm.fields.sgst.id}}" ng-bind="context.data[context.invoiceForm.fields.sgst.id]"></span></td>
                            <td><span id="{{context.invoiceForm.fields.sgstTotal.id}}" ng-bind="context.data[context.invoiceForm.fields.sgstTotal.id]"></span></td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td colspan="2" align="right">{{context.invoiceForm.fields.total.name}}:</td>
                            <td><span id="{{context.invoiceForm.fields.sgstTotal.id}}" ng-bind="context.data[context.invoiceForm.fields.sgstTotal.id]"></td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td colspan="2" align="right"><button type="button" class="btn btn-primary" id="submit" ng-click="actions.submit(context)">Submit</button>
                        </td>
                            <td colspan="2"><button type="button" class="btn btn-primary" id="cancel" ng-click="actions.cancel(context)">Cancel</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>