<div>
    <h3>{{context.controller.filterView.title}}
        <div ng-if="context.controller.page.downloadTableData" class="pull-right">
            <a href="javascript: void(0);" ng-click="context.controller.page.downloadTableData === true && context.commonFact.downloadTableData() || context.commonFact.callActions(context.controller.page.downloadTableData)" title="Download Table Data" class="fa fa-fw fa-download"></a>
        </div>
        <div ng-if="context.controller.page.downloadExcel" class="pull-right">
            <a href="javascript: void(0);" ng-click="context.commonFact.downloadExcel('listView')" title="Download Excel" class="fa fa-fw fa-file-excel-o"></a>
        </div>
    </h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th ng-repeat="(key1, field) in context.controller.filterView.fields">
                    {{field.name}}: <select ng-if="field.type==='select'" id="{{field.id}}" class="form-control font-weight-bold" ng-model="context.controller.filterView.data[field.id]" ng-change="context.commonFact.callActions(field.action, [field]) || context.commonFact['list']()"
                        ng-options="option.optionId as option.optionName for option in field.options">
                    <option value="">--Select--</option>
                </select>
                    <auto-complete ng-if="field.type==='autoComplete'"></auto-complete> <input ng-if="field.type==='input'" type="{{field.inputType}}" class="form-control font-weight-bold" ng-model="context.controller.filterView.data[field.id]" ng-change="context.commonFact.callActions(field.action, [field]) || context.commonFact['list']()"
                    />
                </th>
            </tr>
        </thead>
    </table>
    <table class="table table-bordered" id="listView" style="display: none;">
        <thead>
            <tr>
                <th ng-repeat="(key, list) in context.controller.listView">
                    <div>{{list.name}}</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dataList in context.controller.listViewData">
                <td ng-repeat="(key, list) in context.controller.listView">
                    <div ng-if="!list.actions" ng-bind="context.commonFact.replaceFieldVal(dataList[list.id], list)"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>