<div>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="#/">{{appName}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li ng-if="!module.disableMenu" class="nav-item" data-toggle="tooltip" data-placement="right" ng-repeat="(key, module) in modules">
                    <a ng-if="module.page" class="nav-link" href="#!{{module.page.link}}">
                        <i class="fa fa-fw fa-{{module.icon}}"></i>
                        <span class="nav-link-text">{{module.title}}</span>
                    </a>
                    <a ng-if="!module.page" class="nav-link  nav-link-collapse collapsed" href="#collapse{{module.title}}" data-toggle="collapse" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-{{module.icon}}"></i>
                        <span class="nav-link-text">{{module.title}}</span>
                    </a>
                    <ul ng-if="showSubModule(module)" class="sidenav-second-level collapse" id="collapse{{module.title}}">
                        <li ng-repeat="subModule in subModules">
                            <a href="#!{{subModule.page.link}}">{{subModule.title}}</a>
                        </li>
                    </ul>
                </li>
                <!-- 
                <li class="nav-item" data-toggle="tooltip" data-placement="right" ng-repeat="menu in appNavMenus">
                    <a ng-if="menu.description.child=='yes'" class="nav-link  nav-link-collapse collapsed" href="#{{menu.description.url}}" data-toggle="collapse" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-{{menu.description.icon}}"></i>
                    <span class="nav-link-text">{{menu.description.name}}</span>
                  </a>
                    <a ng-if="menu.description.child=='no'" class="nav-link" href="#!{{menu.description.url}}">
                    <i class="fa fa-fw fa-{{menu.description.icon}}"></i>
                    <span class="nav-link-text">{{menu.description.name}}</span>
                  </a>
                    <ul ng-if="menu.childs" class="sidenav-second-level collapse" id="{{menu.description.url}}">
                        <li ng-repeat="submenu in menu.childs | orderBy: 'description.order'">
                            <a href="#!{{submenu.description.url}}">{{submenu.description.name}}</a>
                        </li>
                    </ul>
                </li> -->
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                </li>
                <li class="nav-item">
                    <select class="form-control" id="calendarYear" ng-change="changeCalendarYear()" ng-model="calendarYear" ng-options="option.optionId as option.optionName for option in calendarYearList">
                        <option value="">--Select--</option>
                    </select>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Import data" href="#!/databaseUpload">
                        <i class="fa fa-fw fa-upload"></i> 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Download data" href="{{dataDownloadUrl}}" download="database.json">
                        <i class="fa fa-fw fa-download"></i> 
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>