<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th ng-repeat="(key, list) in context.listView">
                    <div ng-if="!list.action">{{list.title}}</div>
                    <div ng-if="list.action" class="pull-right"><a href="javascript: void(0);" ng-click="context.actions.add(context)" class="fa fa-fw fa-plus-square-o">Add</a></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dataList in context.listViewData | orderBy:context.orderByProperty: true">
                <td ng-repeat="(key, list) in context.listView">
                    <div ng-if="!list.action">{{list.idPrefix}}{{dataList[list.id]}}</div>
                    <div ng-if="list.action" class="row">
                        <div class="col" ng-if="list.printView"><a href="javascript: void(0);" ng-click="context.actions.edit(context, dataList.id, true)" title="Print View" class="fa fa-fw fa-print
"> </a></div>
                        <div class="col-2" ng-if="list.printView"> | </div>

                        <div class="col" ng-if="list.edit===undefined || list.edit!=false"><a href="javascript: void(0);" ng-click="context.actions.edit(context, dataList.id)" title="Edit" class="fa fa-fw fa-edit
"> </a></div>
                        <div class="col-2" ng-if="(list.edit===undefined || list.edit!=false) && (list.delete===undefined || list.delete!=false)"> | </div>
                        <div class="col" ng-if="list.delete===undefined || list.delete!=false"><a href="javascript: void(0);" title="Delete" ng-click="context.actions.delete(context, dataList.id)" class="fa fa-fw fa-times
"> </a></div>
                    </div>
                </td>
            </tr>
            <tr ng-show="!context.listViewData[0]"><td colspan="{{context.listView.length}}">No recodes...</td></tr>
        </tbody>
    </table>
</div>