<div class="card">
    <div class="card-header" ng-if="!context.controller.form.mapping.disableTitle"><b>{{context.controller.form.mapping.name}}</b></div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th ng-repeat="mappingFieldKey in context.controller.form.mapping.fields">
                        <div>{{mappingFieldKey.name}}</div>
                    </th>
                    <th ng-if="!context.controller.page.printView && !context.controller.page.printViewMapping && (context.controller.form.mapping.actions.delete || context.controller.form.mapping.actions.delete===undefined)">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, map) in context.controller.printData.mapping" ng-if="context.controller.page.printView || context.controller.page.printViewMapping">
                    <td ng-repeat="field in context.controller.form.mapping.fields">
                        <span id="{{field.id}}-{{key}}" ng-bind="context.commonFact.replaceFieldVal(map[field.id], field)">{{map[field.id]}}</span>
                    </td>
                </tr>
                <tr ng-repeat="(key, map) in context.controller.data.mapping" ng-if="(!context.controller.page.printView && (!context.controller.page.printViewMapping || (context.controller.page.printViewMapping && ((context.controller.data.mapping.length-1)===key))))">
                    <td ng-switch="field.type" ng-repeat="field in context.controller.form.mapping[key].fields || context.controller.form.mapping.fields">
                        <span ng-switch-when="span" id="{{field.id}}-{{key}}" ng-bind="map[field.id]"></span>
                        <input ng-switch-when="input" type="{{field.inputType}}" id="{{field.id}}-{{key}}" class="form-control" ng-model="map[field.id]" ng-change="context.commonFact.callActions(field.action, [map, map[field.id], field, key])" ng-required="{{field.required}}"
                            max="{{field.max}}" ng-disabled="field.isDisable" />
                        <select class="form-control" ng-switch-when="select" id="{{field.id}}-{{key}}" ng-focus="context.commonFact.callActions(field.focusAction, [map, map[field.id], field, key])" ng-change="context.commonFact.callActions(field.action, [map, map[field.id], field, key])"
                            ng-model="map[field.id]" ng-options="option.optionId as option.optionName for option in field.options" ng-required="{{field.required}}" ng-disabled="field.isDisable || (field.isEditDisable && context.controller.data[context.controller.form.disableByField])">
                            <option value="">--Select--</option>
                        </select>
                    </td>
                    <td ng-if="context.controller.form.mapping.actions.delete || context.controller.form.mapping.actions.delete===undefined">
                        <a class="fa fa-fw fa-times" href="javascript: void(0);" ng-click="context.commonFact.removeMapping(context.controller.data.mapping, key)"> </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row" ng-if="!context.controller.page.printView && (context.controller.form.mapping.actions.add || context.controller.form.mapping.actions.add==undefined)">
            <div class="col">
                <a class="fa fa-fw fa-plus-square-o" href="javascript: void(0);" ng-click="context.commonFact.addMapping(context.controller.data.mapping)"> </a>
            </div>
        </div>
    </div>
</div>