<div class="card">
    <div class="card-header"><b>{{context.form.mapping.name}}</b></div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th ng-repeat="mappingFieldKey in context.form.mapping.fields">
                        <div>{{mappingFieldKey.name}}</div>
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, map) in context.data.mapping">
                    <td ng-switch="field.type" ng-repeat="field in context.form.mapping.fields">
                        <span ng-switch-when="span" id="{{field.id}}-{{key}}" ng-bind="map[field.id]"></span>
                        <input ng-switch-when="input" type="{{field.inputType}}" id="{{field.id}}-{{key}}" class="form-control" ng-model="map[field.id]" />
                        <select ng-switch-when="select" id="{{field.id}}-{{key}}" ng-change="context.actions.changeMapping(map, map[field.id], field.options)" ng-model="field.options[map[field.id]]" ng-options="option.name for option in field.options">
                            <option value="">-- choose color --</option>
                        </select>
                    </td>
                    <td><a class="fa fa-fw fa-times" href="javascript: void(0);" ng-click="context.actions.removeMapping(context.data.mapping, key)"> </a></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col"><a class="fa fa-fw fa-plus-square-o" href="javascript: void(0);" ng-click="context.actions.addMapping(context.data.mapping)"> </a></div>
        </div>
    </div>
</div>