<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">{{context.title}}</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="mb-3">
        <h3>{{context.title}}</h3>
        <div ng-if="context.pagePath.name=='add' || context.pagePath.name=='edit'">
            <entry-invoice></entry-invoice>
        </div>
        <div ng-if="context.pagePath.name=='list'">
            <h4>List</h4>
            <div class="pull-right"><a href="#{{context.pages.add.link}}" class="fa fa-fw fa-plus-square-o">Add</a></div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Invoice No</th>
                        <th>Customer</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,list) in context.listData">
                        <td>{{list.invoiceNo}}</td>
                        <td>{{list.customerCode}}</td>
                        <td><a href="#{{context.pages.edit.link}}?id={{list.id}}" class="fa fa-fw fa-edit
">Edit</a></td>
                        <td> <a href="#{{context.pages.delete.link}}?id={{list.id}}" class="fa fa-fw fa-times
">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>