<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">{{ctrlScope.title}}</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="mb-3">
        <h3>{{ctrlScope.title}}</h3>
        <div ng-if="ctrlScope.pagePath.name=='add' || ctrlScope.pagePath.name=='edit'">
            <h4>Add/Edit</h4>
            <custom-form></custom-form>
        </div>
        <div ng-if="ctrlScope.pagePath.name=='list'">
            <h4>List</h4>
            <div class="pull-right"><a href="#{{ctrlScope.pages.master.partMaster.add.link}}" class="fa fa-fw fa-plus-square-o">Add</a></div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Part Name</th>
                        <th>Raw Meterial</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,list) in ctrlScope.partMasterData">
                        <td>{{list.partName}}</td>
                        <td>{{list.rawMaterial}}</td>
                        <td><a href="#{{ctrlScope.pages.master.partMaster.edit.link}}?id={{list.id}}" class="fa fa-fw fa-edit
">Edit</a></td>
                        <td> <a href="#{{ctrlScope.pages.master.partMaster.delete.link}}?id={{list.id}}" class="fa fa-fw fa-times
">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>